{
    email {example@host.com}
}
(dns_tls) {
    tls {
        dns {provider} {token}
    }
}
domain.com {
    import dns_tls

    route /{service}/* {
        uri strip_prefix /{service}
        reverse_proxy :{sub_port} {
            header_up X-Forwarded-Prefix "/{service}"
        }
    }
    redir /{service} /{service}/

    reverse_proxy :{main_port}
}
subdomain.domain.com {
    import dns_tls

    reverse_proxy :{main_port} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
