services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /media/pi/ExtDrive/storage/Services/Prowlarr/config:/config
    ports:
      - 9696:9696
    restart: no

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /media/pi/ExtDrive/storage/Services/Sonarr/config:/config
      - /media/pi/ExtDrive/storage/Media:/data
    ports:
      - 8989:8989
    restart: no

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /media/pi/ExtDrive/storage/Services/Radarr/config:/config
      - /media/pi/ExtDrive/storage/Media:/data
    ports:
      - 7878:7878
    restart: no

  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    environment:
        - LOG_LEVEL=debug
        - TZ=America/Sao_Paulo
    ports:
        - 5055:5055
    volumes:
        - /media/pi/ExtDrive/storage/Services/Jellyseer/config:/app/config
    restart: no

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - WEBUI_PORT=8080
    volumes:
      - /media/pi/ExtDrive/storage/Services/Qbittorrent/config:/config
      - /media/pi/ExtDrive/storage/Media/Torrents:/data/Torrents
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: no
    depends_on:
      - prowlarr
      - sonarr
      - radarr
