version: "3.5"

services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /path/to/data:/config
    ports:
      - 9696:9696
    restart: no

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /path/to/data:/config
      - /path/to/media-dir:/data
    ports:
      - 8989:8989
    restart: no

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /path/to/data:/config
      - /path/to/media-dir:/data
    ports:
      - 7878:7878
    restart: no

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - WEBUI_PORT=8080
    volumes:
      - /path/to/config:/config
      - /path/to/torrents-root:/data/Torrents
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: no
    depends_on:
      - prowlarr
      - sonarr
      - radarr
