services:
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: syncthing
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - STGUIADDRESS=
    volumes:
      - /path/to/syncthing/config:/config
      - /path/to/data1:/data1
      - /path/to/data2:/data2
      - /mnt/storage/SERVICES/Syncthing/config:/config
      - /mnt/storage/MEDIA:/media
      - /mnt/storage/SERVICES/Syncthing/data:/data
    restart: no
    network_mode: host
